<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<!-- <img th:attr="src=@{/upload/1.jpg},title='aa',alt='aa'"/> -->
<div class="container gray-bg">
    <div class="prd-list section clearfix">
        <h2 class="title">精彩时刻</h2>
        <ul class="clearfix">
            <tr th:each="candidate : ${candidates}" varStatus="status">
                <li>
                    <a th:href="${candidate.imagePath}"><img th:src="${candidate.imagePath}" alt="" width="200"
                                                             height="200" border="0"/></a>

                    <div class="prd-des">
                        <p class="prd-name">选手名称: <span th:text="${candidate.name}">张三</span></p>

                        <p class="orange">票数: <span th:text="${candidate.votes}">99999</span></p>
                    </div>
                </li>
            </tr>
        </ul>
    </div>
</div>

</body>
</html>